      <div class="masthead">
        <div style="float: right;">
          Logged in as <em class="username"></em> – 
          <a class="logout" href="#">Logout</a>
        </div>
        <h3 class="home muted"><a href="http://ee2_5_5/open-cp/">Open CP</a></h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a class="entries" href="#">Articles</a></li>
                <li><a class="categories" href="#">Categories</a></li>
                <li><a class="members" href="#">Members</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <div id="main">
        
        <!-- Jumbotron -->
        <div class="jumbotron">
          <h1><span>ExpressionEngine</span> Open CP</h1>
          <p class="lead">Demonstrating the power of the ExpressionEngine Open API</p>
          <a class="entries btn btn-large btn-success" href="#">Start Editing Articles</a>
        </div>

    </div>

      <hr>

      <div class="footer">
       <select class="variations">
          <option value="">Variations...</option>
          <option value="logo">Add Logo</option>
          <option value="water">Add Background Colour</option>
        </select>
        <p>&copy; PutYourLightsOn 2013</p>
      </div>