      <form class="update_member form-horizontal">
        <input type="hidden" name="member_id" value="" />
        <fieldset>
          <legend><a class="members" href="#">Members</a> > <span id="title">Create Member</span></legend>
          <div class="control-group">
            <label class="control-label">Username</label>
            <div class="controls">
              <input type="text" name="username" value="" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Screen Name</label>
            <div class="controls">
              <input type="text" name="screen_name" value="" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Email</label>
            <div class="controls">
              <input type="text" name="email" value="" />
            </div>
          </div>
        </fieldset>
      </form>